// Variables.scss
// =========

// Colors
// ---------


//  brand color

$brand-light-purple: #8c68a6;
$brand-purple: #49166d;
$brand-dark-gray: #333;
$brand-gray-light: #a9a9a9;
$brand-green: #57a708;
$brand-off-white: #f5f6f7;

// Proprietary

$ui-orange: #E37440;
$ui-green: #87E5A9;
$ui-dark-green: #29954F;
$ui-red: #f36;
$ui-dark-red: #D41C4A;
$ui-blue: #1e81d6;
$ui-dark-blue: #0E67B3;
$ui-orange: #F4B612;
$ui-dark-orange: #CFA80D;

// Layout

$gutter-width: 30px;
$gutter-width-small: 20px;
$min-width: 960px;
