.t-event-detail {
    .c-event-deail-container{
        padding: 10px 0;
        display: flex;

        .c-events {
            flex: 0.8;
        }
        .c-weather-card {
            flex: 0.2;
            padding-left: 10px;
        }
    }
}
